<!--
    Provides additional framework for presentation of memory information.
    scripts.js uses memory_charts div to built this page out fruther.

    This doc is used with flask to extend layout.html.
-->

{% extends "layout.html" %}

{% block title %}
    Memory
{% endblock %}

{% block main %}
    <div class="boxed-div">
        <h1>Memory Statistics</h1>
        <p>
            <i>Memory statisics are displayed below. Values are in kilobytes To learn more about how this data is pulled, see
            <a href="http://man7.org/linux/man-pages/man1/free.1.html">free documentation</a>.</i>
        </p>
    </div>
    <div id="memory_charts">
        <!-- JS will build this out. -->
    </div>
{% endblock %}