<!--
    Provides additional framework for presentation of sensor information.
    scripts.js uses sensors_charts div to built this page out fruther.

    This doc is used with flask to extend layout.html.
-->

{% extends "layout.html" %}

{% block title %}
    Sensors
{% endblock %}

{% block main %}
    <div class="boxed-div">
        <h1>Sensors Statistics</h1>
        <p>
            <i>This page displays information reported by sensors installed on this server. Each sensor may report different sets of
            information. To better understand the statistics below, you may need to see specific documentation for the devices listed.
            To learn more about how WHM pulls this data, see <a href="https://wiki.archlinux.org/index.php/lm_sensors">
            lm-sensors documentation</a>.</i>
        </p>
    </div>
    <div id="sensors_charts">
        <!-- JS will build this out. -->
    </div>
{% endblock %}